.navbar
  &__left
    width: 100%
    justify-content: flex-end
    flex: 1 1 auto
  &__center
    justify-content: center
    flex: 1 1 auto
    .nav-item
      .nav-link
        border: none !important
  &__right
    width: 100%
    flex: 1 1 auto