.navbar
  &-brand
    img
      height: 3rem
    p
      color: $white
      margin: 0 0 0 1rem
      font-size: 3rem
      line-height: 1
      letter-spacing: -4px
      text-transform: uppercase
  .nav-item
    .nav-link
      border: none !important
  &-error
    margin: 0
    border-radius: 0
    text-align: center
    position: fixed
    top: 72px
    width: 100%
    left: 0
    z-index: 1030
