.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.view-margin {
  margin-top: 4.5rem;
}

.navbar-brand img {
  height: 1.5rem;
}

.jumbotron {
  border-radius: 0;
}

.models-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 0 1rem;
  gap: 1rem;
  align-items: flex-start;
}

.models-grid {
  display: grid;
  grid-template-columns: 400px;
  padding: 1rem;
  gap: 1rem;
}

.model-dccs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
  background-color: rgba(0,0,0,0.7);
}

.model-dccs img {
  display: block;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.model-dccs img:last-child {
  margin-bottom: 0;
}

.model-view__nav-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.model-view__nav-link img {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

#nprogress .bar{
  top: 68px;
  height: 0.2rem;
}

#nprogress .peg{
  box-shadow: none;
}

#nprogress .spinner{
  top: 85px;
}

#nprogress .spinner-icon{
  width: 2rem;
  height: 2rem;
  border-width: 0.2rem;
}

@media (max-width: 575px) {
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-brand img {
    height: 1.1rem;
  }
}